name: CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Simulate Deployment
      run: |
        echo "Deployment simulation completed"

    - name: Pipeline Green Status
      run: echo "CD pipeline success"
